
.slider{
    display: none;
}

@media (min-width: 1024px){
.slider {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100vh;
    position: relative;
    margin-left: auto;
}

.slide {
display: flex;
transition: opacity ease-in-out;
width: 100%;
height: 100%;
 background-size: cover; 
background-repeat: no-repeat; 
background-position: center;
}

.textBlock{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin-left: 1rem;
}

.heading{
    width: 80%;
    font-size: 32px;
    font-weight: medium; 
    color: #fff;
    justify-content: flex-start;
}

.text{
    margin-top: 1rem;
    /* margin-right: 2rem; */
    width: 80%;
    font-size: 22px;
    font-weight: light;
    color:#fff;
}

.button{
    width: 80%;
}

.slideButton{
position: relative;
width: 164px;
height: 48px;
top: 1rem;
background-image: linear-gradient(to right, #13493F 0%, #0C7B1B 50%);
margin-top: 10px;
padding: 10px 5px;
text-align: center;
transition: 0.5s;
background-size: 200% auto;
color: white;
border-radius: 5px;
border:none;
font-size: 18px;
font-weight: medium;
}

.slideButtonBlue{
    background-image: linear-gradient(to right, #132949 0%, #0C7B67 50%);
}

.slideButtonPink{
    background-image: linear-gradient(to right, #493013 0%, #7B0C3B 50%);
}

.slideButtonPurple{
    background-image: linear-gradient(to right, #281349 0%, #720C7B 50%);
}

.sliderButtons{
display: flex;
}

.previous,
 .next{
width: 32px;
height: 100vh;
background: transparent;
border:none;
cursor: pointer;
}

.Arrow{
    width: 30%;
    height: 99%;
}

.previous {
    position: absolute;
    transform: rotate(180deg);
    left: 0;
}

.next{
    position: absolute;
    right: 0;
}

.previous:hover,
.next:hover{
    background: #0EC261;
    opacity: .2;
}

.fade-out{
    opacity: 0;
}

.fade-in{
    opacity: 1;
}

}

