.slider{
    display: none;

}

@media (min-width: 1024px){
.slider {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100vh;
    position: relative;
    margin-left: auto;
}

.slide {
display: flex;
transition: opacity ease-in-out;
width: 100%;
height: 100%;
 background-size: cover; 
background-repeat: no-repeat; 
background-position: center;
}

.textBlock{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 3rem;
}

.heading{
    font-size: 32px;
    font-weight: medium; 
    color: #fff;
}

.text{
    margin-top: 1rem;
    /* margin-right: 2rem; */
    font-size: 22px;
    font-weight: light;
    color:#fff;
}



.slideButton{
position: relative;
width: 164px;
height: 48px;
top: 2rem;
background-image: linear-gradient(to right, #13493F 0%, #0C7B1B 50%);
text-align: center;
transition: 0.5s;
background-size: 200% auto;
color: white;
border-radius: 5px;
border:none;
font-size: 18px;
font-weight: medium;
}

.slideButton1{
    background-image: linear-gradient(to right, #132949 0%, #0C7B67 50%);
}

.slideButton2{
    background-image: linear-gradient(to right, #493013 0%, #7B0C3B 50%);
}

.slideButton3{
    background-image: linear-gradient(to right, #281349 0%, #720C7B 50%);
}

.paginList{
    position: relative;
    display: flex;
    justify-content: center;
    top: 17rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.paginItem{
    margin-left: 20px;
    color:white;
    list-style-position: outside;
}

.paginItemActive{
color:#0C7B1B;
}

.sliderButtons{
display: flex;
}

.previous,
 .next{
width: 32px;
height: 100vh;
background: transparent;
border:none;
cursor: pointer;
}

.arrow{
    width: 30%;
    height: 99%;
}

.previous {
    position: absolute;
    transform: rotate(180deg);
    left: 0;
}

.next{
    position: absolute;
    right: 0;
}

.previous:hover,
.next:hover{
    background: #0EC261;
    opacity: .2;
}

.fade-out{
    opacity: 0;
}

.fade-in{
    opacity: 1;
}

}

