
.slider{
    display: none;
}

@media (min-width: 1024px){
.slider {
    display: inline-block;
    position: relative;
    width: 40%;
    height: 100vh;
    max-width: 1000px;
    position: relative;
    margin-left: auto;
}

.slide {
display: flex;
width: 100%;
height: 100%;
 background-size: cover; 
background-repeat: no-repeat; 
background-position: center;
}

.textBlock{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin-left: 1rem;
}

.heading{
    width: 80%;
    font-size: 32px;
    font-weight: medium; 
    color: #fff;
}

.text{
    margin-top: 1rem;
    width: 70%;
    font-size: 22px;
    font-weight: light;
    color:#fff;
}

.slideButton{
width: 164px;
height: 48px;
}

.sliderButtons{
display: flex;
}

.previous,
 .next{
width: 20px;
height: 100vh;
background: transparent;
border:none;
cursor: pointer;
}

.Arrow{
    width: 50%;
    height: 100%;
}

.previous {
    position: absolute;
    transform: rotate(180deg);
    right: 24.4rem;
}

.next{
    position: relative;
}

.previous:hover,
.next:hover{
    background: #0EC261;
    opacity: .2;
}

}